{% extends "::base.html.twig" %}

{% block title %}IutPlanningBundle:Activity:add{% endblock %}

{% block body %}
<h1>Ajout de l'activité {{name}}</h1>

<p><input type="button" value="Retour session" onclick="self.location.href='session'"/></p>
{% endblock %}
