<h1>Formulaire d'ajout</h1>

<form action="add" method="post">
  <p>Nom : <input type="text" id="nom" name="nom"/></p>
  <p>Mot de passe : <input type="password" id="mdp" name="mdp"/></p>
  
  <input type="submit" value="Ok"/>
  
</form>
