<h1>Identification</h1>

<form method="post" action="session">
<p>
<input type="text" id="nom" name="nom" required/>
</p>
<input type="password" id="mdp" name="mdp" required/>
<br/>
<p><input type="submit" value="Connexion"/></p>
</form>

<p><input type="button" value="Ajout d'utilisateur" onclick="self.location.href='formuser'"/></p>
