{% extends "::base.html.twig" %}

{% block title %}IutPlanningBundle:User:add{% endblock %}

{% block body %}
<h1>Ajout de l'utilisateur {{name}}</h1>
<p><input type="button" value="Retour" onclick="self.location.href='identification'"/></p>
{% endblock %}
